/* ==========================================================================
   #Anchors
   ========================================================================== */

a {
  color: $color-red-space;
  transition: color .3s ease;

  &:hover {
    color: $blue-sky;
  }
}
