/* ==========================================================================
   #Page
   ========================================================================== */

html {
  height: 100%;
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.5;
}

body {
  min-height: 100%;
  padding-top: 45rem;
  padding-bottom: 40rem;
  background-color: $color-text;
  @media only screen and (min-width: 35em) {
    padding-bottom: 60rem;
  }

  &.modal-active {
    -webkit-overflow-scrolling: hidden;
    overflow: hidden;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px dotted $color-border;
  margin: $space-stack-m 0;
  padding: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
