


.space-stack {
  margin-bottom: $space-stack-m;
}

.space-stack--xs {
  margin-bottom: $space-stack-xs;
}

.space-stack--s {
  margin-bottom: $space-stack-s;
}

.space-stack--m {
  margin-bottom: $space-stack-m;
}

.space-stack--l {
  margin-bottom: $space-stack-l;
}
