/* ==========================================================================
   #Shared
   ========================================================================== */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.space-stack-s {
  margin-bottom: $space-stack-s;
}

.space-stack-m {
  margin-bottom: $space-stack-m;
}

.browserupgrade {
  margin: .2em 0;
  background: $color-text;
  color: $color-content;
  padding: .2em 0;
}
