.list {
  padding: 0 2.4rem;
  margin-bottom: 0;
  font-size: $font-size-l;
  @media only screen and (min-width: 50em) {
    font-size: 1.8rem;
  }

  .list__item {
    margin-bottom: $space-stack-xs;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
