/* ==========================================================================
   #Navigation
   ========================================================================== */

.nav {
  margin-bottom: $space-stack-l;
  text-align: center;
  list-style: none;
}

.nav__item {
  display: inline-block;
  width: 96px;
  font-size: $font-size-l;
  font-weight: bold;

  @media only screen and (min-width: 35em) {
    width: 112px;
    margin-right: $space-inline-l;
    font-size: $font-size-xl;
  }

  &:last-child {
    margin-right: 0;
  }

  > a {
    display: block;

    > svg {
      display: block;
      max-width: 72px;
      margin: 0 auto;

      @media only screen and (min-width: 35em) {
        max-width: 96px;
      }
    }
  }

}
