/* ==========================================================================
   #Illustrations
   ========================================================================== */

.img-space-guy {
  position: absolute;
  top: -280px;
  left: 50%;
  margin-left: -128px;
  width: 100%;
  max-width: 256px;
}

.img-title {
  max-width: 48px;
  vertical-align: bottom;
}
