/* ==========================================================================
   #Fire
   ========================================================================== */

.fire {
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
}

.fire__diamond {
  position: absolute;
  top: 0;
  z-index: -200;
  width: 150px;
  height: 150px;
  border-radius: 10px 250px;
  margin-left: -75px;
  background-color: $color-fire;
  transform: rotate(45deg);
  @media only screen and (min-width: 35em) {
    width: 290px;
    height: 290px;
    border-radius: 10px 250px;
    margin-left: -145px;
  }
  @media only screen and (min-width: 50em) {
    width: 400px;
    height: 400px;
    border-radius: 10px 300px;
    margin-left: -200px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 10px 250px;
    background-color: $color-fire-secondary;
    @media only screen and (min-width: 35em) {
      width: 225px;
      height: 225px;
      border-radius: 10px 200px;
    }
    @media only screen and (min-width: 50em) {
      width: 300px;
      height: 300px;
      border-radius: 10px 250px;
    }
  }
}

.fire__diamond--center {
  left: 50%;
  z-index: -190;
}

.fire__diamond--left,
.fire__diamond--right {
  top: -50px;
}

.fire__diamond--left {
  left: 35%;
}

.fire__diamond--right {
  left: 65%;
}
